* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 10px;
}

/* No relative path because this can be called from another script */
@import "/home/ian/.cache/wal/colors-waybar.css";

window#waybar {
    /* Transparent background bar for floating modules */
    background: rgba(0, 0, 0, 0);
}

tooltip {
    background: rgba(1,1,1,1);
    color: @main-fg;
    border-radius: 10px;
    border-width: 0px;
}


#workspaces button {
    background: @color1;
    color: @color2;
    border-radius: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    background: @color2;
    color: @color3;
    border-radius: 9px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 3px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button:hover {
    background: @color3;
    color: @color4;
    border-radius: 9px;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @color2;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#custom-separator,
#custom-applauncher,
#custom-keymapp,
#custom-waypaper,
#temperature,
#cpu,
#memory,
#idle_inhibitor,
#bluetooth,
#mpris,
#network,
#pulseaudio,
#custom-exit,
#custom-spotify,
#taskbar,
#tray,
#window,
#clock,
#mpd,
#workspaces,
#custom-l_end,
#custom-r_end {
    background: @background;
    color: @foreground;
    opacity: 1;
    margin: 8px 0px 2px 0px;
    padding-left: 4px;
    padding-right: 4px;
}


/* Custom App Colors */
#memory,
#temperature,
#cpu {
    color: @color1;
}

#custom-separator {
    color: @color2;
}

#network {
    color: @color3;
}

#network.disconnected {
    color: @color5;
}

#pulseaudio {
    color: @color4;
}
#pulseaudio.muted {
    color: @color5;
}

#clock {
    color: @color6;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 10px 10px 0px;
    margin-right: 9px;
    padding-right: 2px;
}

#custom-l_end {
    border-radius: 10px 0px 0px 10px;
    margin-left: 9px;
    padding-left: 2px;
}
